<html>
<head>

    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Drum Transcription App</title>
    {% endblock %}

</head>
<body>
    <div class="container pl-3">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3 class="my-2">Drum Transcription App</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    This is a drum transcription app as my undergraduate final thesis outcome.
                    This app uses the <i>segment and classify</i> method.<br>
                    Hence, the audio is first segmented based on the detected onsets
                    and the segment is classified into snare drums, hi-hats, and/or bass drums.<br>
                    For the classification purposes, this app uses deep learning with [TBD] architecture trained on
                    <a href="https://github.com/CarlSouthall/MDBDrums">MDB Drums</a> and 
                    <a href="https://www.idmt.fraunhofer.de/en/publications/datasets/drums.html">IDMT-SMT</a> datasets.
                    <br><br>
                    The details on the thesis can be found at <a>[TBD]</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>How to use this app</h4>
                <p>
                    The app is divided into three main sections:
                    <ol>
                        <li>
                            <b>Upload</b> - Upload an audio file to be transcribed.
                        </li>
                        <li>
                            <b>Transcription</b> - The audio is segmented and classified.
                        </li>
                        <li>
                            <b>Download</b> - Download the transcription results.
                        </li>
                    </ol>
                </p>
            </div>
        </div>
        {% include "upload.html" %}
    </div>


    {% block scripts %}

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <script src="templates/upload.js"></script>
    {% endblock %}
</body>
</html>